[submodule "OF"]
	path = OF
	url = git@github.com:galsasson/openFrameworks.git
[submodule "external_addons/ofxUINode"]
	path = external_addons/ofxUINode
	url = git@github.com:galsasson/ofxUINode.git
[submodule "external_addons/ofxSpriteSheet"]
	path = external_addons/ofxSpriteSheet
	url = git@github.com:galsasson/ofxSpriteSheet.git
[submodule "external_addons/ofxLiquidFun"]
	path = external_addons/ofxLiquidFun
	url = git@github.com:galsasson/ofxLiquidFun.git
[submodule "external_addons/ofxTimeMeasurements"]
	path = external_addons/ofxTimeMeasurements
	url = git@github.com:armadillu/ofxTimeMeasurements.git
